<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 {% comment %} <form action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Save">
  <a href="{% url 'dashboard' %}">Cancel</a>
 </form> {% endcomment %}
 <h1>Change Password</h1>
 <form action="" method="post" novalidate>
   {% csrf_token %}
   {% for fm in form %}
    <div>
    {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small> 
    </div> <br>
   {% endfor %}
   <input type="submit" value="Save">
  <a href="{% url 'dashboard' %}">Cancel</a>
   {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
     <p>{{error}}</p>
    {% endfor %}
   {% endif %}
  </form>
</body>
</html>