<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{{title}}</title>
  </head>

  <body>
    <h2>Start Learning {{cname}}</h2>
    <img src="{% static 'images/pic1.jpg'%}" alt="Django" />
    <img src="{% get_static_prefix %}images/pic1.jpg" alt="Django" />
    <hr />
    <form action="">
      <input type="button" value="Click Me" onclick="disp()" />
    </form>
    <script src="{% static 'js/all.js' %}"></script>
  </body>
</html>
